{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/style.css" type='text/css/'>
    <title>Restaurant Site</title>
    {{!-- {{#each css}} --}}
    {{!-- <link rel="stylesheet" href="/views/css{{style.css}}"> --}}
    {{!-- {{/each}} --}}
{{!-- </head>
<body>
<div class="container mt-3">
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
  All Restaurants
    </button>
    <div class="dropdown-menu">
          {{#each restaurants}}
                <a class="dropdown-item" href="../restaurants/{{id}}"> {{name}}</a>
                {{/each}} --}}
      {{!-- <a  href="#">Link 1</a>
      {{!-- <a class="dropdown-item" href="#">Link 2</a>
      <a class="dropdown-item" href="#">Link 3</a> --}}
    </div>
  </div>
 
</div>
       
<script>
{{!-- //$(document).ready(function(){
 // $(".dropdown-toggle").dropdown("toggle");
}); --}}
</script>

 <h1>Restaurant Site!

    </h1>
    {{{body}}}
</body>
{{!-- </html> --}} --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Restaurants</title>
    <link rel="stylesheet" href="/style.css">
   
</head>
<body>
    <h1>Welcome to the Restaurant Site!!</h1>

   
    {{{body}}}
    
</body>
</html>




